
/* GENERAL CSS*/
body {
    background-color: white;
    color: black;
}

.navTernium {
    background-color: #364352 !important;
    color: white !important;
    
}

.orangeLetters {
    color: #F25C29;
}

/* LOGIN CSS */

.loginBody {
    background-color: #364352 !important;
    color: white;
}

.headerLogIn {
    font-size: 25px;
}

.center {
    display: flex;
    justify-content: center;
}

.loginPage {
    height: 80vh;
    background-color: #364352;
    color: white;
}

img{
    height: 100px;
    margin: 0px auto 20px;
}

.loginContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 300px;
    height: 200px;
}

.loginButton {
    background-color: #F25C29;
    color: #FFFFFF;
}

.loginButton:hover {
    background-color: #C85A34;
}

/* PROFILE CSS */
.corners {
    border-radius: 50%;
}


/* JUEGO CSS */
.jugar {
    margin-top: 45% !important;
    margin-left: 45% !important;
}


/* LEADERBOARD CSS */
.my-custom-scrollbar {
    position: relative;
    height: 600px;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}

.shadowTab {
    box-shadow: 2px 2px 12px #000000;
}

::-webkit-scrollbar {
    display: none !important;
}





