@{
    ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>

<h1> Leaderboard </h1>

<br />

<table class="table table-hover table-dark">
    <thead class="tableLetters">
        <tr>
            <th scope="col">Lugar</th>
            <th scope="col">Inspector</th>
            <th scope="col">Puntos</th>
        </tr>
    </thead>
    <tbody class="tableLetters">
        <tr>
            <td scope="row">1</td>
            <td> Roberto </td>
            <td> 19536 </td>

        </tr>
        <tr>
            <td scope="row">2</td>
            <td> Daniela </td>
            <td> 14095 </td>
        </tr>
        <tr>
            <td scope="row">3</td>
            <td> Jesus </td>
            <td> 13900 </td>
        </tr>
        <tr>
            <td scope="row">4</td>
            <td> Miguel </td>
            <td> 10990 </td>
        </tr>
        <tr>
            <td scope="row">5</td>
            <td> Adrian </td>
            <td> 10103 </td>
        </tr>
    </tbody>
</table>

<br />