@{
    ViewData["Title"] = "About";
}

<body>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <br />
                <br />
                <div class="text-center">
                    <img src="~/images/profile.png" class="corners" alt="profile picture">
                    <h5> Marco Del Valle </h5>
                    <h6> mdelvalc@ternium.com.mx </h6>
                    <br />
                    <button type="submit" class="btn btn-secondary loginButton"> Jugar </button>
                </div>
            </div>


            <div class="col-6">
                <br />
                <br />
                <br />
                <h4 class="orangeLetters"> Puntos: 15473 </h4>
                <h6> 3er lugar </h6>
                <br />

                <table class="table">
                    <tbody>
                        <tr>
                            <td scope="row">Exámenes</td>
                            <td> 5 </td>
                        </tr>
                        <tr>
                            <td scope="row">Inmunidad</td>
                            <td> 10 exámenes </td>
                        </tr>
                        <tr>
                            <td scope="row">Tiempo total de juego</td>
                            <td> 27 minutos </td>
                        </tr>
                        <tr>
                            <td scope="row">Número de partidas jugadas</td>
                            <td> 9 </td>
                        </tr>
                        <tr>
                            <td scope="row">Aciertos</td>
                            <td> 25 </td>
                        </tr>
                        <tr>
                            <td scope="row">Equivocaciones</td>
                            <td> 3 </td>
                        </tr>
                        <tr>
                            <td scope="row">Metal más equivocado</td>
                            <td> Rebaba de acero </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <br />
</body>



