@{
    ViewData["Title"] = "About";
}

<body>
    <div class="text-center">
        <h2> Cómo jugar</h2>

        <br />

        <p>
            Cheese on toast cauliflower cheese stilton. Red leicester caerphilly port-salut hard cheese port-salut pepper jack roquefort port-salut. Caerphilly everyone loves taleggio cheesecake stilton brie cheese on toast manchego. Brie smelly cheese lancashire chalk and cheese camembert de normandie cheddar the big cheese goat. Mascarpone danish fontina cheese triangles cheesy grin caerphilly taleggio cheddar squirty cheese. Emmental brie lancashire bocconcini feta monterey jack bocconcini cheese and biscuits. Cheese triangles cow paneer cheddar caerphilly ricotta edam brie. Danish fontina. <br /> <br />

            Edam fromage frais ricotta. Cheese triangles pepper jack manchego cheesy grin cottage cheese cheese slices danish fontina boursin. Cheese strings dolcelatte halloumi cut the cheese melted cheese cream cheese dolcelatte fromage. Ricotta brie brie everyone loves macaroni cheese cheese slices melted cheese st. agur blue cheese. Lancashire cheese triangles stilton blue castello stinking bishop cauliflower cheese port-salut cut the cheese. Fromage taleggio hard cheese cheese triangles st. agur blue cheese caerphilly when the cheese comes out everybody's happy squirty cheese. Caerphilly cheesy feet say cheese bavarian bergkase camembert de normandie say cheese edam cheese slices. Cream cheese st. agur blue cheese camembert de normandie jarlsberg. <br /> <br />

            The big cheese cheesy feet cheesy grin. The big cheese everyone loves chalk and cheese fromage danish fontina brie chalk and cheese boursin. Ricotta blue castello red leicester camembert de normandie cheese strings pecorino smelly cheese red leicester. Port-salut croque monsieur hard cheese fondue swiss bocconcini mascarpone swiss. Monterey jack cottage cheese mozzarella fromage frais fromage edam port-salut roquefort. Edam cheeseburger chalk and cheese edam dolcelatte swiss caerphilly airedale. St. agur blue cheese cheddar cow pepper jack mozzarella stilton stilton cheese on toast. Hard cheese gouda stinking bishop cheese and biscuits red leicester rubber cheese. <br /> <br />

            When the cheese comes out everybody's happy brie ricotta. Smelly cheese gouda cheeseburger swiss who moved my cheese cheesy feet manchego say cheese. Jarlsberg manchego cheese and biscuits cauliflower cheese cream cheese cheese and biscuits cheesy feet brie. Stilton melted cheese fromage hard cheese feta stinking bishop cream cheese airedale. Red leicester jarlsberg melted cheese camembert de normandie port-salut camembert de normandie pecorino cut the cheese. Port-salut emmental goat mascarpone monterey jack red leicester queso monterey jack. Cheese and wine jarlsberg cheese and biscuits roquefort chalk and cheese cheese strings cream cheese melted cheese. Parmesan cheese and wine jarlsberg squirty cheese.

        </p>

    </div>
</body>




