@model Ternium.Controllers.HomeController
@{
    ViewData["Title"] = "About";
}

<body>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <div class="text-center">
                    <h3 class="orangeLetters"> @Model.UserName </h3>
                    <br />
                    <img src="~/images/lugar1.png" alt="Lugar 1" class="medalSize" />
                    <img src="~/images/top10.png" alt="Top 10" class="medalSize" />
                    <img src="~/images/inmunidad5.png" alt="Inmunidad 5" class="medalSize" />
                    <img src="~/images/inmunidad10.png" alt="Inmunidad 10" class="medalSize" />
                    <img src="~/images/examen5.png" alt="Examen 5" class="medalSize" />
                    <img src="~/images/meses1.png" alt="Meses 1" class="medalSize" />
                    <br />
                    <br />
                    <button type="submit" class="btn btn-secondary loginButton"> Jugar </button>
                </div>
            </div>


            <div class="col-6">
                <br />
                <br />
                <h4 class="orangeLetters"> Puntos: @Model.Points </h4>
                <br />

                <table class="table">
                    <tbody>
                        <tr>
                            <td scope="row">Exámenes</td>
                            <td> 5 </td>
                        </tr>
                        <tr>
                            <td scope="row">Inmunidad</td>
                            <td> 10 exámenes </td>
                        </tr>
                        <tr>
                            <td scope="row">Tiempo total de juego</td>
                            <td> 27 minutos </td>
                        </tr>
                        <tr>
                            <td scope="row">Número de partidas jugadas</td>
                            <td> 9 </td>
                        </tr>
                        <tr>
                            <td scope="row">Aciertos</td>
                            <td> 25 </td>
                        </tr>
                        <tr>
                            <td scope="row">Equivocaciones</td>
                            <td> 3 </td>
                        </tr>
                        <tr>
                            <td scope="row">Metal más equivocado</td>
                            <td> Rebaba de acero </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br />
</body>



