@model Ternium.Controllers.LoginController
@{
    ViewData["Title"] = "Home Page";
}

<body class="loginBody">
    <div class="loginPage">
        <div class="loginContainer">
            <img src="~/images/logo-color.png" alt="Ternium Logo" class="logo center" />
            <h1 class="center headerLogIn"> Iniciar sesión </h1>
            <br />
            <form action="Login/Form1" method="post">
                <div class="mb-3">
                    <input asp-for="UserLogin" class="form-control" id="exampleInputEmail1" placeholder="Usuario">
                </div>
                <div class="mb-3">
                    <input asp-for="Password" type="password" class="form-control" placeholder="Contraseña">
                </div>
                <div class="center">
                    <button type="submit" class="btn btn-secondary loginButton">Ingresar</button>
                </div>
                <label>@Model.MessageX</label>
            </form>
        </div>
    </div>
    <br /><br />
</body>