@model Ternium.Controllers.LeaderboardController
@{
    ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>
<img src="~/images/azulternium.png" class="leadBlue" />
<img src="~/images/rojoternium.png" class="leadRed" />
<h3 class="ldTitle"> Leaderboard </h3>

<div class="btn-toolbar mb-6 centerBtn col-md-12 text-center" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group btn-group-sm" role="group" aria-label="First group">
        <button type="button" class="btn btn-outline-secondary active"> Juego </button>
        <button type="button" class="btn btn-outline-secondary" onclick="location.href='@Url.Action("Index", "LeaderboardEx")'"> Examen </button>
    </div>
</div>

<br />

<body>
    <div class="table-wrapper-scroll-y my-custom-scrollbar shadowTab whiteBack">
        @Html.Raw(Model.TableHTML)
    </div>
</body>
<br />
<br />
