@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Base de Datos</h1>
    <form method="post">
        <input id="Submit1" type="submit" value="Actualizar" />
    </form>
    <h3>Resultados:</h3>
    <table class="table table-responsive table-bordered">
        <thead>
            <tr>
                <th>bitacoraID</th>
                <th>UsurarioID</th>
                <th>fechaConexion</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListaBitacoras)
            {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.bitacoraID)</td>
                <td>@Html.DisplayFor(modelItem => item.usuarioID)</td>
                <td>@Html.DisplayFor(modelItem => item.fechaConexion)</td>
            </tr>
            }
        </tbody>
    </table>
</div>
