
/* GENERAL CSS*/
body {
    background-color: white;
    color: black;
    font-family: 'tradegothiclt', sans-serif;
}

.navTernium {
    background-color: #364352 !important;
    color: white !important;
    
}

.orangeLetters {
    color: #F25C29;
}

.white-letters {
    color: white;
}


/* LINKS */
a:link {
    color: black;
    background-color: transparent;
    text-decoration: solid;
}

a:visited {
    color: black;
    background-color: transparent;
    text-decoration: solid;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: black;
    background-color: transparent;
    text-decoration: solid;
}


/* EXAMEN CSS */
.right {
    margin-bottom: 30px;
    margin-left: 360px;
}

.examenContainer {
    margin-left: auto;
    margin-right: auto;
    width: 500px !important;
}


/* LOGIN CSS */
.loginBody {
    background-color: #364352;
    background-image: url('https://www.eleconomista.com.mx/__export/1520317968703/sites/eleconomista/img/2018/03/06/ternium_1.jpg_423392900.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    width: 100vw;
    height: 100vh;
}

.login-overlay {
    width: 100vw;
    height: 100vh;
    left: 0;
    background: rgba(0,0,0,0.3);
}

.headerLogIn {
    font-size: 25px;
}

.center {
    display: flex;
    justify-content: center;
}

.loginPage {
    height: 100vh;
    width: 100vw;
}

img{
    width: 85%;
    margin: 0px auto 20px;
}

.loginContainer {
    background-color: rgba(72,84,88, 1);
    margin: auto;
    padding: 80px;
    width: 60%;
    max-width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.loginButton {
    background-color: #F25C29;
    color: #FFFFFF;
}

.loginButton:hover {
    background-color: #C85A34;
}

/* PROFILE CSS */
.corners {
    border-radius: 50%;
}

.medalSize {
    width: 55px;
}

/* JUEGO CSS */
.jugar {
    margin-top: 45% !important;
    margin-left: 45% !important;
}


/* LEADERBOARD CSS */
.my-custom-scrollbar {
    position: relative;
    height: 600px;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}

.shadowTab {
    box-shadow: 2px 2px 12px #000000;
}

::-webkit-scrollbar {
    display: none !important;
}

.ldTitle {
    text-align: center;
}

.head {
    background-color: rgb(255, 153, 0);
    color: white;
}

.leadBlue {
    position: absolute;
    border-bottom-right-radius: 50%;
    width: 300px;
    margin-top: 0px;
    margin-left: 0px;
    top: 50px;
    left: 0;
}

.leadRed {
    position: absolute;
    border-top-left-radius: 50%;
    width: 300px;
    bottom: 0px;
    right: 0;
    margin-bottom: 0px;
}

.whiteBack {
    background-color: white;
}

.centerBtn {
    margin: auto;
    width: 40%;
    positiom: absolute;
}

.btnLeaderboard {
    display: grid;
}